* {
    margin: 0;
}

.blue {
    background-color: aqua;
    border: 2px solid forestgreen;
    margin: 5px;
}

.or {
    background-color: bisque;
    width: 400px;
    height: 85px;
    font-size: 16px;
}

ul {
    padding-top: 15px;
}

.text {
    background-color: darkgray;
    margin-left: 405px;
    margin-top: -85px;
    margin-right: 5px;
    font-size: 16px;
    line-height: 120%;
}

@media screen and (max-width: 800px) {
    .or {
        background-color: bisque;
        width: 150px;
        height: 80px;
    }

    .text {
        background-color: darkgray;
        margin-right: 300px;
        margin-left: 0px;
        margin-top: 0;
        font-size: 16px;
        line-height: 120%;
    }
}
